body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.home-container {
    text-align: center;
}

.home-title {
    margin-bottom: 20px;
}

.home-description {
    margin-bottom: 20px;
}

.home-btn {
    margin: 10px;
    font-size: 16px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.home-btn:hover {
    background-color: #0056b3;
}

.btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}